---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">Lost Way!! 40404!</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">You have landed 'NoWhere'</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Lets the light guide you to Hacking Tutorials Home.
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Take me Home !</a>
      </div>
    </div>
  </section>
</Layout>
